
			<div class="col-xs-3">
				<h2>User info</h2>
					<%= attachment_image_tag user, :profile_image, size: '100x100', format: 'jpeg', fallback: "no_image.jpg" %>
				<table class="table">
					<tbody>
					<tr>
						<th>name</th>
						<td><%= user.name %></td>
					</tr>
					<tr>
						<th>introduction</th>
						<td><%= user.introduction %></td>
					</tr>
					</tbody>
				</table>
				<div class="row">
					<% if @user.id == current_user.id %>
						<%= link_to edit_user_path(@user.id), {class: "btn btn-default btn-block"} do %>
							<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
						<% end %>
					<% else %>
						<%= link_to user_path(current_user.id), {class: "btn btn-default btn-block"} do %>
							<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
						<% end %>
					<% end %>
				</div>
				<h2>New book</h2>
				<% if new_book.errors.any? %>
					<p>!error!</p>
  						<div id="error_explanation" class="alert alert-danger">
    						<ul>
      						<% new_book.errors.full_messages.each do |message| %>
        						<li><%= message %></li>
      						<% end %>
    						</ul>
    					</div>
				<% end %>
				<%= form_for(new_book) do |f| %>
					<div class="field row">
						<label for="book_title">Title</label><br>
						<%= f.text_field :title, {class: "col-xs-12"} %>
					</div>
					<div class="field row">
						<label for="book_opinion">Opinion</label><br>
						<%= f.text_area :body, {class: "col-xs-12"} %>
					</div>
					<div class="action-row">
						<%= f.submit 'Create Book', {class: "btn btn-primary col-xs-12"} %>
					</div>
				<% end %>
			</div>
