<div class="body">
	<div class="container">

		<% if flash[:notice] %>
  			<p><%= flash[:notice] %></p>
		<% end %>

		<div class="row">
			<%= render 'books/list', user:@book.user, new_book:@new_book %>

			<div class="col-xs-9">
				<h2>Book detail</h2>
				<table class="table table-hover table-inverse">
					<tbody>
					<tr>
						<td>
							<%= link_to attachment_image_tag(@book.user, :profile_image, size:'40x40', format: 'jpeg', fallback: "no_image.jpg"),user_path(@book.user_id) %><br>
							<%= link_to @book.user.name, user_path(@book.user_id) %>
						</td>
						<td>
							<%= link_to @book.title, book_path(@book.id) %>
						</td>
						<td>
							<%= @book.body %>
						</td>
					<% if @book.user_id == current_user.id %>
						<td>
							<%= link_to "Edit", edit_book_path(@book.id), {class: "btn-sm btn-success"} %>
						</td>
						<td>
							<%= link_to("Destroy", book_path(@book.id), method: :delete, data:{confirm:"本当に消しますか？"}, class: "btn-sm btn-danger") %>
						</td>
					<% end %>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>